<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377686290683-r07f7hu7f6nnb5mqiond6ko54lcbr326.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377686290683-r07f7hu7f6nnb5mqiond6ko54lcbr326</string>
	<key>API_KEY</key>
	<string>AIzaSyCAtInTUPk9FQ1H1zcK5qIZAMOio3SuG-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>377686290683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.saadardati.pocketjenna.pocketjenna</string>
	<key>PROJECT_ID</key>
	<string>saad-ardati</string>
	<key>STORAGE_BUCKET</key>
	<string>saad-ardati.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377686290683:ios:8e98493dd2dab99930005e</string>
</dict>
</plist>